/.vscode
/.~lock.ap.csv#
/__pycache__
/_utils.py
/venv
__pycache__
.env
/**/static/*
!**/.gitkeep
ap_data.xlsx
cp_data.xlsx
db.sqlite3
/map/migrations
file.xlsx
db.json
errorLog_ap_lat_lon.txt
errorLog_ap.txt
_data.xlsx
