# Django
SECRET_KEY=CHA34r34rN3rG3ErM34rE3!4r34r!!
DEBUG=False
# ru-ru or en-us
LANGUAGE_CODE=ru-ru
TIME_ZONE=Asia/Novokuznetsk

#PosgresSQL
POSTGRES_DB=postgres
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser
POSTGRES_HOST=postgres
